<p class="bold">Que es el Monoxido de Carbono?</p>
<p>
  El Monóxido de Carbono (CO) es un gas altamente tóxico que inhalarlo puede ser mortal.
  Se produce cuando un combustible como el carbón, la leña, el gas o la nafta se queman de manera inadecuada. <b>NO se ve, NO huele, NO sabe</b>
</p>

<br>

<p class="bold">Síntomas de intoxicación por Monóxido de Carbono</p>

<ul>
  <li>1. Náusea</li>
  <li>2. Dolor de cabeza repentino, a veces intenso</li>
  <li>3. Mareo</li>
  <li>4. Vómito</li>
  <li>5. Dificultad para respirar</li>
  <li>6. Pérdida del conocimiento</li>
</ul>

<br>

<p class="bold">Consejos para evitar una intoxicación</p>

<ul>
  <li>1. Mantén los ductos de escape en buen estado </li>
  <li>2. Revisa el color de las flamas: deben ser de color azul</li>
  <li>3. Revisa tus instalaciones por lo menos cada 5 años</li>
</ul>