<p>Es una campaña en conjunto con <b>Caminos Solidarios</b> y <b>Mundo Invisible</b>.
Este año nos propusimos anticiparnos al invierno para que cuando llegue estemos listos para enfrentarlo de
la mejor forma posible. La idea es que la gente teja un cuadrado de lana de 20 x 20 cm en cualquier punto y
color. Estos después son unidos para armar frazadas que son entregadas a gente en situación de calle. La
frazada es un acto de amor, de unión que tiene un fin específico que es abrigar a alguien. Pueden colaborar
donando su cuadradito de lana de 20 x 20 cm. También están los difusores minuteros, que son aquellos que
tienen redes sociales y pueden compartir nuestras actividades.</p>

<br>

<div class="list">

  <a class="item item-icon-left" href="mailto:tucuadradito@1minutodevos.com.ar">
    <i class="icon ion-email"></i>
    tucuadradito@1minutodevos.com.ar
  </a>

  <a class="item item-icon-left" href="mailto:voluntarios@1minutodevos.com.ar">
    <i class="icon ion-email"></i>
    voluntarios@1minutodevos.com.ar
  </a>

  <a class="item item-icon-left" href="http://www.1minutodevos.com.ar">
    <i class="icon ion-link"></i>
    www.1minutodevos.com.ar
  </a>

  <a class="item item-icon-left" href="http://www.facebook.com/1minutodevos">
    <i class="icon ion-social-facebook"></i>
    1minutodevos
  </a>

</div>

<ion-slide-box>
  <ion-slide>
    <div><img style="width: 100%;" src="img/cuadradito-abriga/bsas.png"></div>
  </ion-slide>
  <ion-slide>
    <div><img style="width: 100%;" src="img/cuadradito-abriga/caba.png"></div>
  </ion-slide>
</ion-slide-box>

<!-- TODO: Agregar puntos de recoleccion -->