<ion-view view-title="Dónde ayudar?">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-navigate-outline" ng-click="centerOnMe()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-location-outline" ng-click="findNearestMarker()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="button-bar bar-light">
      <a ng-click="all()" class="button">Todos</a>
      <a ng-click="marker1()" class="button">Cuadradito</a>
      <a ng-click="marker2()" class="button">Recorrido</a>
    </div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>