<ion-tabs class="tabs-icon-top tabs-light">

  <ion-tab title="C&oacute;mo?" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/how">
    <ion-nav-view name="tab-how"></ion-nav-view>
  </ion-tab>

  <ion-tab title="D&oacute;nde?" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/where">
    <ion-nav-view name="tab-where"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sumate" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>


</ion-tabs>
